body {
  font-family: Arial, sans-serif;
}

header {
  padding: 15px;
  font-size: 24px;
  background: #0077cc;
  color: white;
}

.controls {
  margin: 10px;
}

#plantafel {
  padding: 10px;
  white-space: pre;
  font-size: 15px;
  font-family: monospace;
}

button {
  padding: 5px 10px;
  cursor: pointer;
}

footer {
  margin-top: 30px;
  padding: 10px;
  font-size: 12px;
  color: #444;
}
